
/* -----------CART--------------------------------------- */

.body_content{
        background-color: #f9f7f4;
        padding: 1rem 10rem ;
}
.lable h1{
    font-weight: 700;
    font-size: 35px;
}
.card_body{
    display: grid;
    grid-template-columns: 70% 30%;
}
.card_body-left{
    margin-right: 10px;
}
.card_list{
    width: 100%;
    height: 165px;
    display: grid;
    grid-template-columns: 30% 60% 10%;
    border: 1px solid rgb(195, 193, 193) ;
    margin: 20px 0;
}
.card_list-info{
    width: 100%;
    display: block;
    line-height: 25.6px;
    padding: 0 15px;
    line-height: 25.6px;
    font-weight: 500;
}
.card_list-img img{
    max-width: 169px;
    height: 149px;
    padding: 0 15px;
}
.card_list-img{
    max-width: 235px;
}

.item-name{
    height: 45px;
    font-size:14px;
    padding: 10px 15px;
}
.item-name a{
    font-weight: 550;
}
.item-info{
    padding: 0 15px;
    height: 22px;
    font-weight: lighter;
    font-size: 14px;
}
.item-price{
    width: 100%;
    height: 44px;
    display: grid;
    justify-content: space-between;
    grid-template-columns:  auto auto auto;
    align-items:center;
    padding: 0 15px;
}
.price{
    font-weight: 550;
    line-height:20.58px;
}
.wrapper{
    width: 100%;
    display: flex;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 600;
    
}
.wrapper button{
    width: 34px;
    height: 34px;
    margin: 0 10px;
    background-color: #f4f4f4;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    transition: all 0.5s;
    color: black;
}
.wrapper ion-icon{
    font-size: 17px;
    color: black;
}
.wrapper button:hover{
    background-color: #dad7d7
}
.wrapper span{
    display: flex;
    font-size: 17px;
    width: 34px;
    height: 34px;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}
.total-price{
    font-weight: 550;
    line-height:20.58px;
}
.card_list-delbtn{
    display: flex;
    margin: 20px 0;
    border-left: 1px solid gainsboro;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.del-item{
    width: 34px;
    height: 34px;
    padding: 0 10px;
    font-size: 14px;
    color: black;
    background-color: #f4f4f4;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    transition: all 0.5s;
}
.card_body-right{
    margin: 20px 0 20px 20px;
    padding: 15px;
}
.card_body-right h3{
    letter-spacing:1.75px;
    line-height:18.08px;
    margin:0px 0px 16px;
}
.sum-price-wrap{
    line-height: 30px;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(195, 193, 193);
}
.sum-price-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sum-price-text{
    font-weight: 600;
}
.total-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-top: 20px;
}
.total-price-num{
    font-size: 20px;
    font-weight: 600;
}
.btn-checkout{
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.btn-checkout button{
    width: 350px;
    height: 40px;
    font-size: 16px;
    border: 1px solid gainsboro;
    background-color: #7b7b7b;
    border-radius: 10px;
    transition: all 0.5s;
}
.checkout a{
    color: white;
}
.btn-checkout button:hover{
    background-color: #9a9a9a;
}


/* -----------PRODUCT RELATED--------------------------------------- */

.product_related {
    position: relative;
    overflow: hidden;
    padding: 20px;
    background-color: #f9f7f4;
}

.product-category {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
    padding-top: 30px;
    text-transform: capitalize;
    align-items: center;
    text-align: center;
    border-top: 1px solid gainsboro;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    width:  100%;
    padding: 1rem;
    margin-right: 40px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.product-image {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.product-image img{
    width: 250px;
}
.product-thumb {
    width: 100%;
    object-fit: cover;
}

.discount-tag {
position: absolute;
background: #fff;
padding: 5px;
border-radius: 5px;
color: #ff7d7d;
right: 10px;
top: 10px;
text-transform: capitalize;
}

.card-btn {
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
padding: 10px;
width: 90%;
text-transform: capitalize;
border: none;
outline: none;
background: #fff;
border-radius: 5px;
transition: 0.5s;
cursor: pointer;
opacity: 0;
}

.product-card:hover .card-btn {
opacity: 1;
}

.card-btn:hover {
background: #ff7d7d;
color: #fff;
}

.product-info {
width: 100%;
padding-top: 10px;
text-align: center;
}

.product-brand {
    font-size: 20px;
    text-transform: uppercase;
}
.price {
    font-size: 16px;
    font-weight: 400;
}
.pre-btn,
.nxt-btn {
border: none;
width: 8vw;
height: 100%;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
cursor: pointer;
z-index: 8;
}
.pre-btn {
left: 0;
transform: rotate(180deg);
}
.nxt-btn {
right: 0;
}
.pre-btn img,
.nxt-btn img {
opacity: 0.2;
}
.pre-btn:hover img,
.nxt-btn:hover img {
opacity: 1;
}

@media only screen and (max-width: 1050px) {
    .header_NavigationBar{
        display: none;
    }
    .toggle_navbar_menu{
        z-index: 20000;
        visibility: visible;
    }
    .header__navbar-logo > img{
        margin-left: 20px;
    }
    .l_navbar{
        visibility: visible;
    }
    .header_navbar-item-icon:first-child{
        position: relative;
        right: 0%;
        visibility: visible;
    }
    .header_navbar-item-icon{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        z-index: 10000;
        padding: 0 8px;
    }
    .header__navbar-search{
        display: none;
    }
    .header__navbar-search > input{
        background-color:#f1f1f1;
        border: 1px solid rgba(151, 150, 150, 0.1);
        
    }
    
    .header__navbar-search.active {
        width: 100%;
        position: absolute;
        display: flex;
        top:80px;
        z-index: 10000;
        visibility: visible;
        transition: ease-in-out 0.5s;
    }
    
    .header__navbar-logo img{
        width: 60px;
        flex-wrap: wrap;
    }

    /* --------body---------- */
    .body_content{
        padding: 1rem 10rem ;
    }
    .card_body{
        display: flex;
        flex-direction: column;
    }
    .card_list{
        width: 100%;
        height: 150px;
        display: grid;
        grid-template-columns: 30% 60% 10%;

    }
    .card_list-info{
        padding: 0;
    }
    .card_body-left{
        margin-right: 0px;
    }
    .card_list-img img{
        max-width: 120px;
        height: 110px;
        padding: 0 10px;
    }
    .wrapper{
        width: 100%;
        display: flex;
        padding: 0 px;
        font-size: 18px;
        font-weight: 600;
    }
    .wrapper button{
        width: 34px;
        height: 34px;
        margin: 0 5px;
    }
    .wrapper ion-icon{
        font-size: 14px;
    }
    .wrapper span{
        font-size: 14px;
        width: 34px;
        height: 34px;
    }
    .del-item{
        width: 34px;
        height: 34px;
        padding: 0 5px;
        font-size: 14px;
    }

    .card_body-right{
        margin: 1rem 0;
        padding: 2rem 0;
        border-top: 1px solid rgb(195, 193, 193);
    }
}
@media only screen and (max-width: 750px) {
    .body_content{
        padding: 1rem 1rem ;
    }
    .card_body{
        display: flex;
        flex-direction: column;
    }
    .card_list{
        width: 100%;
        height: 150px;
        display: grid;
        grid-template-columns: 30% 60% 10%;
        border: 1px solid gainsboro;
        margin: 20px 0;
    }
    .card_list-info{
        padding: 0;
    }
    .card_list-img img{
        max-width: 120px;
        height: 110px;
        padding: 0 10px;
    }
    .wrapper{
        width: 100%;
        display: flex;
        padding: 0 px;
        font-size: 18px;
        font-weight: 600;
    }
    .wrapper button{
        width: 24px;
        height: 24px;
        margin: 0 5px;
    }
    .wrapper ion-icon{
        font-size: 14px;
    }
    .wrapper span{
        font-size: 14px;
        width: 24px;
        height: 24px;
    }
    .card_list-delbtn{
        padding: 0 10px;
    }
    .del-item{
        width: 34px;
        height: 24px;
        padding: 0 5px;
        font-size: 14px;
    }

    /* footer */
    footer{
        display: block;
        padding-top: 10px;
    }
    .footer{
        display: block;
    }
    .footer_col{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .footer_col h3{
        margin-top: 20px;
    }
    .footer_col li a{
        width: 100%;
        padding: 5px 0px;
    }
    .footer_col input{
        width: 60%;
    }
    .cartegory-content{
        display: grid;
        grid-template-columns: auto auto ;
    }
    ion-icon{
        font-size: 20px;
    }
}