
/* -----------PRODUCT--------------------------------------- */
.breadcrum_container{
    display: flex;
    margin: 20px;
}
.content_product{
    padding: 1rem;
    background-color: #f9f7f4;

}
.content_product-body{
    width: 100%;
    margin-top: 1rem;
    display: grid;
    padding: 3rem 3rem;
    grid-template-columns: 70% 30%;
}
/* -----------PRODUCT IMG--------------------------------------- */
.product_img{
    display: flex;
    flex-direction: column;
}
.product_big-img img {
    width: 90%;

}
.product_small-img{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;

}
.product_small-img img{
    width: 60%;
    height: 120px;
    cursor: pointer;
    padding-right: 5px;
}
/* -----------PRODUCT CONTENT INFO--------------------------------------- */
.product-content-right {
    width: 100%;
    padding-left: 50px;
}
.product_content{
    width: 100%;
    padding-left: 20px;
}
.product_content-name h1 {
    font-size: 22px;
    line-height:23.76px;
    font-weight:400;
}
.product_content-name p {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
.product_content-timber{
    font-size: 14px;
}

.product-content_pd-size {
    width: 100%;

}
.product-content_pd-size-btn button{
    background-color: black;
    color: white;
    width: 100%;
    max-width: 30%;
    margin: 5px 5px 0 0;
    height: 35px;
    border-radius: 5px;
    transition: all 0.5s;
    border: none;
}
.product-content_pd-size-btn button:hover{
    background-color: #666;
}
.product-content-btn-pay{
    display: flex;
    width: 90%;
    max-width: 100%;
    height: 42px;
    margin-top: 20px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.product-content-btn-pay button{
    width: 70%;
    border: none;
    font-size: 15px;
    background-color: black;
    border-radius: 0px 10px 10px 0px;
    color: white;
    transition: all 0.5s;
}
.product-content-btn-pay button:hover{
    background-color: rgb(88, 88, 88);
    color: #ffff;
}
.wrapper-pro{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-pro span{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}
.wrapper-pro span.num{
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
}

.form-select-attr{
    border: none;
    color: black;
    width: 62%;
    height: 40px;
    border-radius: 5px;
    background-color: #e2e0dc;
    margin: 1rem 0;
    cursor: pointer;
}
.btn:focus {
    color: black;
    background: #f9f9f9;
    outline: 2px solid gainsboro;
    outline-offset: 2px;
}

/* -----------PRODUCT DESCRIPTION--------------------------------------- */
.accordion {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.accordion-item {
    color: #111;
    border-bottom: 1px solid #EEEEEE;
}
.accordion-item-header {
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.accordion-item-header:hover{
    border-bottom: 3px solid black ;
}
.accordion-item-header::after {
    content: "\23F7";
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    transition: 0.5s;
}
.accordion-item-header.active::after {
    content: "\23F6";

}
.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
    margin-bottom: 10px;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}
.accordion-item-body-content h1{
    margin: 1rem 0;
    font-size: 16px;
    font-weight: 550;

}
/* -----------PRODUCT RELATED--------------------------------------- */

.product_related {
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.product-category {
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0;
    text-transform: capitalize;
    align-items: center;
    text-align: center;
    border-top: 1px solid gainsboro;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    width:  100%;
    padding: 1rem;
    margin-right: 40px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.product-image {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.product-image img{
    width: 180px;
}
.product-thumb {
    width: 100%;
    object-fit: cover;
}

.discount-tag {
position: absolute;
background: #fff;
padding: 5px;
border-radius: 5px;
color: #ff7d7d;
right: 10px;
top: 10px;
text-transform: capitalize;
}

.card-btn {
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
padding: 10px;
width: 90%;
text-transform: capitalize;
border: none;
outline: none;
background: #fff;
border-radius: 5px;
transition: 0.5s;
cursor: pointer;
opacity: 0;
}

.product-card:hover .card-btn {
opacity: 1;
}

.card-btn:hover {
background: #ff7d7d;
color: #fff;
}

.product-info {
width: 100%;
padding-top: 10px;
text-align: center;
}

.product-brand {
text-transform: uppercase;
}
.price {
    font-size: 20px;
}
.pre-btn,
.nxt-btn {
border: none;
width: 8vw;
height: 100%;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
cursor: pointer;
z-index: 8;
}
.pre-btn {
left: 0;
transform: rotate(180deg);
}
.nxt-btn {
right: 0;
}
.pre-btn img,
.nxt-btn img {
opacity: 0.2;
}
.pre-btn:hover img,
.nxt-btn:hover img {
opacity: 1;
}

@media only screen and (max-width: 1050px) {
    .header_NavigationBar{
        display: none;
    }
    .toggle_navbar_menu{
        z-index: 20000;
        visibility: visible;
    }
    .header__navbar-logo > img{
        margin-left: 20px;
    }
    .l_navbar{
        visibility: visible;
    }
    .header_navbar-item-icon:first-child{
        position: relative;
        right: 0%;
        visibility: visible;
    }
    .header_navbar-item-icon{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        z-index: 10000;
        padding: 0 8px;
    }
    .header__navbar-search{
        display: none;
    }
    .header__navbar-search > input{
        background-color:#f1f1f1;
        border: 1px solid rgba(151, 150, 150, 0.1);

    }

    .header__navbar-search.active {
        width: 100%;
        position: absolute;
        display: flex;
        top:80px;
        z-index: 10000;
        visibility: visible;
        transition: ease-in-out 0.5s;
    }

    .header__navbar-logo img{
        width: 60px;
        flex-wrap: wrap;
    }
    .cartegory-content{
        margin-top: 30px;
        display: grid;
        grid-template-columns: auto auto auto ;
    }

    .content_product-body{
        display: block;
        margin: 0;
        padding: 0px;
    }
    .product_img{
        width: 100%;
        max-width: 100%;
        padding: 0 1rem 1rem 1rem ;
    }
    .product_big-img{
        width: 100%;
        max-width: 100%;
    }
    .product_big-img img{
        width: 100%;
    }
    .menu_des{
        display: block;
        position: relative;
        height: auto;
        padding: 2rem 0;
        border: none;
    }
    .menu_des li{
        border-bottom: 1px solid gainsboro;
    }
    .product_des-ct{
        display: none;
    }
    .product-category{
        border: none;
    }
}
@media only screen and (max-width: 750px) {

    footer{
        display: block;
        padding-top: 10px;
    }
    .footer{
        display: block;
    }
    .footer_col{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .footer_col h3{
        margin-top: 20px;
    }
    .footer_col li a{
        width: 100%;
        padding: 5px 0px;
    }
    .footer_col input{
        width: 60%;
    }
    .cartegory-content{
        display: grid;
        grid-template-columns: auto auto ;
    }
    ion-icon{
        font-size: 20px;
    }
}
