*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    box-sizing: border-box;
    font-family: 'BaronSans', Helvetica, Arial;
    font-weight: 400;
}
body{
    position: relative;
    width: 100%;

}
a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
ion-icon {
    font-size: 25px;
}



/* --------------------left navbar-------------- */



.l_navbar{
    position: fixed;
    width: 0px;
    height: 100%;
    background: #f1f1f1;
    display: flex;
    align-items: start;
    z-index: 10000000;
    border-right: 1px solid rgba(0,0,0,0.1);
    transition: ease-in-out 0.5s;
    box-shadow: 0 2px 1rem #615e5e;
}
.l_navbar.active{
    width: 250px;
}
.sub_menu{
    width: 100%;
    overflow: hidden;
}
.sub_menu > li > a {
    width: 100%;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-flex;
    align-items: start;
    padding: 15px;
    transition: linear 0.5s;
}
.sub_menu > li > a:hover{
    background-color: #d9d4c8;
    box-shadow: 5px 5px 5px #666;
    -moz-box-shadow: 5px 5px 5px #666;
    -webkit-box-shadow: 5px 5px 5px #666;
}
/* --------------------cart-=---------------------- */
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background-color: #d9d4c8;
    box-shadow: -2px 0 4px hsl(0 4% 15% /10%);
    transition: ease-in-out 0.5s;
}

.cart.active{
    right: 0;
}
.cart-lable{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: 0.5rem;
}
.cart-pd-lable{
    font-size: 1rem;
    text-transform: uppercase;
}
.cart-pd-price{
    font-weight: 600;
}
.cart-pd-quanlity{
    border: 1px solid gainsboro;
    outline-color: #d9d4c8;
    width: 2.7rem;
    text-align: center;
    font-size: 1rem;
}
.total-cart{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
    margin-bottom: 2rem;
}
.total-lable{
    font-size: 1rem;
    font-weight: 600;
}
.total-cart-price{
    margin-left: 0.5rem;
}
.btn-cart,.btn-close-cart{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    justify-content: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}
.btn-cart a{
    padding: 10px 120px;
}
.btn-cart:hover{
    background-color: #d04e4e;
    color: white;
}
.btn-close-cart:hover{
    background-color: #a5a4a2;
    color: white;
}
/* --------------------header-------------- */
.toggle_navbar_menu{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 20px;
    visibility: hidden;
}

.toggle_navbar_menu-close ion-icon{
    font-size: 30px;
    text-align: center;
}
.header{
    background-color: #f9f7f4;
}
.header__navbar{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    z-index: 10000;
    transition: all 0.5s;
}
.header__navbar.sticky{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 10000;
    box-shadow: 0 5px 1rem rgb(208, 204, 199);
    background-color: #f9f7f4;
}
.header__navbar-logo a img {
    display: flex;
    justify-content: center;
    align-items: center;
    top:13%;
    width: 120px;
    position: absolute;
    left: 60px;
}
.header__navbar-search{
    max-width: 100%;
    display: flex;
    justify-content: center;
    left: 100px;
    position: relative;
    margin-right: 10%;
    align-items:center;
}
.header__navbar-search > input{
    width: 500px;
    height: 45px;
    border: 1px solid #EEEEEE;
    background-color: #f9f7f4;
    z-index: 1;
    position: relative;
    padding-left: 10px;
    padding-right: 40px;
    border-radius: 5px;
    transition: 0.2s;
    font-size: 16px;
}
.header__navbar-search > input:hover {
    border: 1px solid #9a9a9a;
}
.header__navbar-search-btn{
    display: flex;
    right: 0%;
    position: absolute;
    z-index: 2;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    border: none;
}
.header__navbar-search-btn:hover{
    background-color: #ccc;

}
.header__navbar-item{
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.header_navbar-item-icon {
    padding: 0 30px;
}
.header_navbar-item-icon:first-child{
    z-index: 2;
    position: absolute;
    right: 35%;
    visibility: hidden;
}
.header_NavigationBar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #EEEEEE;
    align-items: center;
}
li{
    list-style: none;
    position: relative;
}
.header_NavigationBar > li > a{
    font-size: 15px;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.header_NavigationBar li :hover{
    border-bottom: 1px solid black;
}



/* --------------------slider-------------- */




#Slider{
    display: block;
    position: relative;
    border-bottom: 1px solid #dddddd;
    overflow: hidden;
}
.aspect-ratio-169{
    display: block;
    position: relative;
    padding-top: 50%;
    transition: 0.3s;

}
.aspect-ratio-169 img{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    z-index: 1;
}
.dot-container{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.dot{
    height: 12px;
    width: 12px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
}
.dot.active{
    background-color: #333;
}
.Slider_button{
    width: 100%;
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-top: 30%;
    height: 30%;
}
.Slider_button > a{
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:#d9d4c8;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #d9d4c8;

}
.Slider_button > a:hover{
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
}




/* --------------------footer-------------- */




footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    background-color: #595e62;
    padding-bottom: 100px;
    color: #d9d4c8;
    padding: 70px 0;
}
.footer{
    display: flex;
    width: 100%;
}
.footer_col{
    width: 30%;
    padding: 0 5%;
}
.footer_col li a {
    font-size: 16px;
    padding-bottom: 10px;
	text-transform: capitalize;
	color: #ffffff;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer_col li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer_col h3{
    margin-bottom: 20px;
}
.footer_col input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding-left: 10px;
}
.footer_col input:hover{
    border: 1px solid bisque;
}
.footer_col a ion-icon{
    font-size: 40px;
    padding: 10px 0;
    display: inline-block;
	color: #ffffff;
	transition: all 0.2s ease;
}
.footer_col a ion-icon:hover{
    color:#9a9a9a;
}

/* --------------------responsive-------------- */


@media only screen and (max-width: 1050px) {
    .header_NavigationBar{
        display: none;
    }
    .toggle_navbar_menu{
        z-index: 20000;
        visibility: visible;
    }
    .header__navbar{
        height: 90px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .header__navbar-logo a img{
        position: relative;
        width: 100px;
        margin-left: 0px;
    }
    .l_navbar{
        visibility: visible;
    }
    .header_navbar-item-icon:first-child{
        position: relative;
        right: 0%;
        visibility: visible;
    }
    .header_navbar-item-icon{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        z-index: 10000;
        padding: 0 8px;
    }
    .header__navbar-search{
        display: none;
    }
    .header__navbar-search > input{
        background-color:#f1f1f1;
        border: 1px solid rgba(151, 150, 150, 0.1);

    }

    .header__navbar-search.active {
        width: 100%;
        position: absolute;
        display: flex;
        top:80px;
        z-index: 10000;
        visibility: visible;
        transition: ease-in-out 0.5s;
    }

    .header__navbar-logo img{
        width: 60px;
        flex-wrap: wrap;
    }
    .Slider_button{
        width: 100%;
        display: flex;
        position: absolute;
        text-align: center;
        justify-content: center;
        align-items: center;
        z-index: 2;
        height: 3%;
    }
    .Slider_button > a{
        padding: 1em 2em;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        letter-spacing: 5px;
        text-transform: uppercase;
        color:#d9d4c8;
        transition: all 1000ms;
        font-size: 10px;
        position: relative;
        overflow: hidden;
        outline: 2px solid #d9d4c8;
    }
    .Slider_button > a:hover{
        color: #ffffff;
        transform: scale(1.1);
        outline: 2px solid #70bdca;
        box-shadow: 4px 5px 17px -4px #268391;
    }
}
@media only screen and (max-width: 750px) {
    ion-icon{
        font-size: 20px;
    }
    footer{
        display: block;
        padding-top: 10px;
    }
    .footer{
        display: block;
    }
    .footer_col{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .footer_col h3{
        margin-top: 20px;
    }
    .footer_col li a{
        width: 100%;
        padding: 5px 0px;
    }
    .footer_col input{
        width: 60%;
    }
    .cartegory-content{
        display: grid;
        grid-template-columns: auto auto ;
    }
    .header__navbar-logo a img{
        width: 100px;
        left: 50px;
    }
}

